.userlistBox,
.errorBanner {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: center;
}

.signOutBtn {
  display: flex;
  align-self: flex-end;
  margin-top: 10px;
  background-color: rgb(245, 245, 245);
  border: 2px solid lightblue;
  height: 30px;
  align-items: center;
  border-radius: 5px;
}

.errorBanner {
  height: 50px;
  background-color: lightcoral;
  color: black;
  margin-top: 10px;
  padding-top: 10px;
}

.userCardBox,
.skeletonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}
.skeletonImg {
  width: 50px;
  height: 50px;
}
.userCardImg,
.skeletonImg {
  border-radius: 20px;
}

.skeletonTxt {
  width: 150px;
  height: 30px;
}

.skeletonImg,
.skeletonTxt {
  animation: skeleton-animation 0.5s ease-in infinite alternate;
}

@keyframes skeleton-animation {
  0% {
    background-color: rgb(255, 255, 255);
  }
  100% {
    background-color: rgb(236, 233, 233);
  }
}
